@import '_global';

/* ======= CONTACT ========= */

.signedTitle {
  margin: 2.5em auto;
  width: 90%;
}
.signedTitle h1 {
  font-family: "Libre-Baskerville", serif;
  font-size: 1.5em;
  letter-spacing: 0.3em;
  color: #383838;
}
.signedTitle h3 {
  font-weight: 400;
  color: #383838;
}
.img {
  height: 10em;
}

#contactContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 35em;
  width: 34.5em;
  background-color: #C2BE8F;
}

#contactBox {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  padding-top: 1em;
}
#nameBox {
  display: flex;
  justify-content: space-between;
}
#firstName, #lastName {
  width: 45%;
}
input, textarea {
  width: 100%;
  height: 2em;
  font-size: 1em;
  opacity: .3;
  border: 2px black solid;
}
label {
  font-size: 1em;
  color: white;
}
textarea {
  height: 5em;
}
button {
  width: 12em;
  height: 2.5em;
  background-color: slategray;
  color: white;
  font-size: 1em;
}
#submit {
  display: flex;
  justify-content: center;

}
#block {
  display: block;
  overflow: hidden;
}

@media(max-width: 668px){
  .contact {
width: 90%;
  }
  #nameBox {
    flex-direction: column;
  }
  #contactBox {
width: 90%;
  padding-bottom: 1em;
  }
  #nameBox, #email, #comments, #submit  {
    width: 90%;
    margin: 0 auto;
  }
  .signedTitle h1 {
    font-size: 1.25em;
  }
  signedTitle h3 {
    font-size: 1em;
  }
  #firstName, #lastName {
    width: 100%;
  }
}