body, p,li, ul, nav, header, footer, h1, h2, h3 {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  /* color: #D6925F; */
  color: #b87333;
}
a:hover {
  color: SandyBrown;
}
h4 {
  font-weight: 300;
  color: #282828;
}

li{
  list-style: none;
}


/*  ========= HEADER ======= */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: black;
}

header img {
  height: 4em;
}

header a{
  text-decoration: none;
  color: gray;
  font-size: 1em;
  font-weight: 400;
}
header a:hover {
  font-weight: 700;
    /* color: #BEBD8C; */
    color: #b87333;
  }

@media(min-width: 1500px){
  header img {
    height: 4em;
  }
  
  .dropdown {
    font-size: 1.25em;
  }
  .imgResponsive {
    width: 120% !important;
  }
  #secondRow {
    width: 95%;
    justify-content: space-around !important;
  }
  h2 {
  font-size: 2em;
  }
}
@media(min-width: 1262px){
  .imgResponsive {
    width: 105% !important;
  }
  header a {
    font-size: 1em;
  }
}
/* === DROPDOWN === */
.dropbtn {
    background-color: none;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 5em;
}
/* Show dropdown menu on hover */
.linkFlex:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1em;

}

/* Links inside the dropdown */
li {
  margin-top: 1em;
}
ul {
  margin-top: 1em;
}
.dropdown-content a {
    color: slategray;
    text-decoration: none;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
      color: #b87333;
}


@media (max-width: 750px){
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1em;
  padding-right: .5em;
  }
.linkFlex:hover .dropdown-content {
    display: none;
  }
  header {
      background: black;
  }
}

/*   ====== FOOTER ======== */
#designedBy {
  display: flex;
  justify-content: center;
}
footer a{
  color: #FC963D;
}
footer {
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1em auto;
}

footer p{
  color: gray;
  font-size: smaller;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', Arial, sans-serif;
}
footer p:nth-child(2) {
  justify-content: flex-start;
  margin-left: 5px;
}

@media (max-width: 40em){

  footer{
    flex-direction: column;
    padding: 0.5em 0;
  }
  footer p{
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
    font-size: 0.7em;
  }
  #designedBy {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 40em){
  #nopipe::after {
    content: "|";
    padding-left: 5px;
  }

}
