body, p,li, ul, nav, header, footer, h1, h2, h3 {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #F15A24;
}
a:hover {
  color: SandyBrown;
}
h4 {
  font-weight: 300;
  color: #282828;
}

a{
  text-decoration: none;
  color: #F15A24;
}

a:hover {
  color: SandyBrown;
}

h4 {
  font-weight: 300;
  color: #282828;
}

/*  ========= HEADER ======= */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 
  background: #1E1E20;
}

header img {
  height: 3.5em;
}

header a{
  text-decoration: none;
  color: gray;
  font-size: 1em;
  font-weight: 400;
}
header a:hover {
  font-weight: 700;
    color: #BEBD8C;
      /* copper-y #D6925F;
      original orange-red #F15A24;*/
}
@media(min-width: 1500px){
  header img {
    height: 4em;
  }
  
  .dropdown {
    font-size: 1.25em;
  }
  .imgResponsive {
    width: 120% !important;
  }
  #secondRow {
    width: 95%;
    justify-content: space-around !important;
  }
  h2 {
  font-size: 2em;
  }
}
@media(min-width: 1262px){
  .imgResponsive {
    width: 105% !important;
  }
  header a {
    font-size: 1em;
  }
}
/* === DROPDOWN === */
.dropbtn {
    background-color: none;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: flex;
    justify-content: space-around;
    width: 60%;
}
/*spacer div necessary to keep dropdown content active on hover while pushing items below gray nav bar */
.spacer {
  height: 2em;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 5em;
}
/* Show dropdown menu on hover */
.linkFlex:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5em;
    padding: 0 1em;
}

/* Links inside the dropdown */
/* li {
  margin-top: 3em;
} */
.dropdown-content a {
    color: gray;
    text-decoration: none;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
      color: #D6925F;
}
/*.subhed{
  font-size: .8em;
  color: gray;
  font-weight: 600;
  text-decoration: underline;
}
.subhedA {
  margin-left: 1em;
} */

@media (max-width: 750px){
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1em;
  }
.linkFlex:hover .dropdown-content {
    display: none;
  }
}

