@import '_global';

/* =========== SLIDESHOW =========== */
  
#carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.minimalistSlideshow{
  position: relative;
  display: block;
  overflow: hidden;
  width: 80vw;
}
.bigFlex {
  display: flex;
  justify-content: center;

}

figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;

}
figcaption{
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  color: #808080;
}

figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
figcaption {
  transition: 1s opacity;
}
.next, .previous{
  color: #e6e6e6;
  font-size: 5em;
  opacity: 0.7;
  font-weight: lighter;
}
.next:hover, .previous:hover{
  cursor: pointer;
  opacity: 1;
}

@media (max-width: 555px){
  #carousel {
    width: 90%;
    height: 15em;
    margin-top: 2em;
  }
  .bigFlex img{
  height: 12.5em !important;
  }
}
@media (max-width: 800px){
  .bigFlex img{
  height: 16.5em;
  }
}
     /*   DIVIDER LINE  */
hr.divider {
width: 60%;
}
.doodad {
font-size: 1.25em;
  text-align: center;
  transform: rotate(60deg);
  margin: -1.1em auto 0 auto;
  background: #fff;
  width: 2em;
  color: gray;
  padding-bottom: 0.15em;
}
#dividerFlex{
display: flex;
flex-direction: column;
}

/*  +++++ SECOND ROW +++ */
#secondRow {
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: space-between;

}
#shows, #collections, #publicity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#secondRow a{
  text-decoration: none;
}
.imgResponsive {
  width: 90%;
  height: auto;
}

/*#secondRow {
  display: grid;
  grid-template-columns: 32% 1.5% 32% 1.5% 32% 1%;
  grid-template-rows: auto 2em auto;
  width: 90%;
  margin: 0 auto;
}
#collections, #shows, #publicity {
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
#collections {
   grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#shows {
   grid-column: 3 / 4;
    grid-row: 1 / 2;
}
#publicity {
   grid-column: 5 / 6;
    grid-row: 1 / 2;
} */
h2{
  font-weight: 500;
  color: #282828;
  margin: 2em 0 1em 0;
}
@media (max-width: 800px){

  h2 {
    font-size: 1.25em;
    font-weight: 300;
  }
}
@media (max-width: 700px){
  #secondRow{
  flex-direction: column;
  }
  .imgResponsive {
    width: 50%;
  }
}